*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and  (min-width: 758px) {
  .container{
  border: 2px solid red;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 150px 300px;
  grid-template-rows:  1fr 100px 100px;
  grid-gap: 10px;
  width: 85%;
  height: 90%;
}

.grid-item:nth-child(1){
  background: red;
  grid-column: 1 / span 2;
  grid-row: 1;
}
.grid-item:nth-child(2){
  background: orange;
  grid-column: 3;
  grid-row: 1;
}
.grid-item:nth-child(3){
  background: green;
  grid-column: 1;
  grid-row: 2 / -1;
}
.grid-item:nth-child(4){
  background: #00d5ff;
  grid-column: 2 / -1;
  grid-row: 2;
}
.grid-item:nth-child(5){
  background: #00d5ff;
  grid-column: 2 / -1;
  grid-row: 3;
}
}


@media screen and  (max-width: 758px) {
  .container{
  border: 2px solid red;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  300px 250px 150px 150px 150px;
  grid-gap: 10px;
  width: 85%;
  height: 90%;
}

.grid-item:nth-child(1){
  background: red;
  grid-row: 1;
}
.grid-item:nth-child(2){
  background: orange;
  grid-row: 2 ;
}
.grid-item:nth-child(3){
  background: green;
  grid-row: 3;
}
.grid-item:nth-child(4){
  background: #00d5ff;
  grid-row: 4;
}
.grid-item:nth-child(5){
  background: #00d5ff;
  grid-row: 5;
}
}